:root {
  --open-sans: 'Open Sans', sans-serif;;
  --source-sans: 'Source Sans 3', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--source-sans)
}

p, ul, ol, li, button, a, label, input, textarea  {
  font-family: var(--open-sans)
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  margin-top: auto;
  background-color: #f8f8f8;
}

@media screen and (max-width: 768px) {
  main {
    min-height: 100vh;
    margin-top: 4rem;
  }
}
  



