.confirm-info-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.confirm-info-container label {
  margin-bottom: 10px;
  display: block;
  margin-top: 5px;
}

.confirm-info-container input {
  margin-bottom: 10px;
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
}

.confirm-info-container input:focus {
  outline: none;
  border: 1px solid #aaa;
}

.location-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.location-info input {
    width: 95%;
}

.location{
    margin-right: 10px;
}

.zip-info{
    margin-left: 10px;
}
