/* .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 10% auto;
  padding: 20px 20px 20px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f1eedd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
} */
/* Login.css */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 80px);
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #f1eedd;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-container a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.form-container a:hover {
  text-decoration: underline;
}

.form-container form div {
  margin-bottom: 20px;
  width: 100%;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.form-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #0056b3;
}

.error-text {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 100px) {
  section {
    width: 90%;
  }
}
