.nav-title{
  animation: slideInLeft 1s;
}
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5rem;
  padding: 10rem;
}



@media screen and (max-width: 1000px) {
  .item-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 6rem;
    padding: 0;
  }
}
