.cart {
  max-width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  text-align: left;
  top: 5rem;
  right: 1rem;
  background-color: goldenrod;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  z-index: 1000;
  border: 1px solid black;
}
p{
  margin: 0 0 10px 0;
}
.cart-items-wrapper {
  max-height: 70vh;
  overflow-y: auto;
}



.close {
  cursor: pointer;
  background-color: #f44336;
  color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.close:hover {
  background-color: #d32f2f;
}

.centered-checkout{
  margin-top: 5%;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.centered-checkout p{
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cart-header{
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.cart-title{
  margin: 0;
  width: 80%;
  font-size: 24px;
}
.cart-title h2{
  margin-bottom: 0;
}

.cart-items {
  margin: 15px 0;
  height: fit-content;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-name {
  font-size: 16px;
}

.item-price {
  font-size: 16px;
  color: #2196f3;
}

.checkout-btn {
  width: 100%;
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #45a049;
}


.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container p {
  text-align: center;
  justify-content: center;
}




.btn-login {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #388e3c;
}

.btn-login:hover {
  background-color: #45a049;
}

.btn-login:active {
  transform: scale(0.97);
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.flex-row:last-child {
  border-bottom: none;
}

.flex-row div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-row div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}



.form-input {
  width: 50px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}


.trash-icon {
  margin-left: 0px;
  margin-top: 5%;
  color: #d32f2f;
  transition: color 0.3s ease;
}

.trash-icon:hover {
  color: #f44336;
}
@media screen and (max-width: 1000px) {
  .cart {
    position: fixed;
    top: 10%;
    right: 0;

  }
}

@media screen and (max-width: 600px) {
  .cart {
    top: 10%;
    right: 20%;
    height:25vh;
  }
  .cart h2{
    font-size: 20px;
  }
  .cart p{
   font-size: 14px;
   margin-bottom: 0;
    
  }
  .form-input{
    width: 20px;
    height: 20px;

  }
  .input-container{
    height: 5rem;
  }
  .cart-item-title{
    height: 3rem;
  }
  .centered-checkout {
    font-size: 12px;
  }

}
